.filters {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  z-index: 20;
  @media (max-width: 768px) {
    & * {
      font-size: 14px !important;
    }
  }
  & .inputs-container {
    padding: 0 32px;
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    @media (max-width: 768px) {
      padding: 0 16px;
    }

    & .date-filters {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 32px;
      @media (max-width: 768px) {
        flex-direction: column;
        gap: 16px;
      }
    }
    & .more-filters {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 32px;
      flex-direction: column;
      gap: 32px;
    }
  }
}
