.SearchSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;

  & .SearchSection-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    z-index: 20;

    @media (max-width: 768px) {
      & * {
        font-size: 14px !important;
      }
    }
    & .inputs-container {
      display: flex;
      gap: 16px;
      justify-content: flex-start;
      align-items: flex-end;
      padding: 0 32px;
      width: 100%;
      margin: 0 auto;
      max-width: 600px;
      @media (max-width: 768px) {
        padding: 0 16px;
      }
      & .more-filters-button {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #090909;
        min-width: 48px;
        min-height: 48px;
        width: 48px;
        height: 48px;
        font-size: 18px;
        border-radius: 100%;
        background: #e8e8e8;
        cursor: pointer;
        border: 1px solid #e8e8e8;
        transition: all 0.3s;
        box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
        transition: all 0.2s ease-in-out;
        &:active {
          color: #666;
          box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
        }
        &.active {
          background: #e47575;
          box-shadow: 0px 0px 12px #f27979;
          border: 1px solid #e5a3a3;
          color: #fff;
        }

      }
    }
  }
}
